body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}


.container {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
}


.form-container input,
.form-container select {

    padding: 12px;
    margin: 8px;
    width: 200px;

}


button {

    padding: 12px 20px;
    border: none;
    background-color: navy;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}


button:hover {

    opacity: 0.8;

}


#applications {

    margin-top: 30px;

}


.job-card {

    background: #eeeeee;
    padding: 20px;
    margin: 15px auto;
    width: 60%;
    border-radius: 10px;
    text-align: left;

}


.job-card h3 {

    margin-top: 0;

}


.delete-btn {

    background-color: red;

}